{% extends "mainapp/layout.html" %}
{% block title %}Dashboard{% endblock %}
{% block body %}
    <div class="flex-container gridwise">
        <div class="box-item blue">
            <span><b>Students:</b><br />200</span>
        </div>
        <div class="box-item red">
            <span><b>Faculties:</b><br />20</span>
        </div>
        <div class="box-item green">
            <span><b>Admin:</b><br />1</span>
        </div>
        <div class="box-item orange">
            <span><b>UGC:</b><br />1</span>
        </div>
    </div>
    <div id="inner-section" class="gridwise-container blockwise">
        {% comment %} <div class="box">
            <div class="chart">
                <canvas id="chart1" width="300" height="200"></canvas>
            </div>
        </div>
        <div class="box">
            <div class="chart">
                <canvas id="chart2" width="300" height="200"></canvas>
            </div>
        </div>
        <div class="box">
            <div class="chart">
                <canvas id="chart3" width="300" height="200"></canvas>
            </div>
        </div>
        <div class="box">
            <div class="chart">
                <canvas id="chart4" width="300" height="200"></canvas>
            </div>
        </div> {% endcomment %}
        <script>
            let numberOfGraphs = {{ numberOfGraphs }};
            let graphContainer = document.querySelector('#inner-section');
            {% comment %} let graphHolderList = []; {% endcomment %}
            
            chartName = [{% for chartN in chartName %} '{{ chartN }}', {% endfor %}];
            chartLabel = [{% for chartL in chartLabel %}[ {% for chartT in chartL %} '{{ chartT }}', {% endfor %}], {% endfor %}];
            chartDataSet = [{% for chartD in chartDataSet %} {{ chartD }}, {% endfor %}];
            
            for (let i = 0; i < numberOfGraphs; i++) {
                let graphHolder = document.createElement('div');
                graphHolder.className = 'box';
                graphHolder.innerHTML = `
                    <div class="box-section-head negative-margin">${chartName[i]}</div>
                    <div class="chart">
                        <canvas id="chart${i}" width="300" height="200"></canvas>
                    </div>
                `;
                graphContainer.appendChild(graphHolder);
                {% comment %} let graphHolders = document.getElementById('chart1').getContext('2d'); {% endcomment %}
                barChart(graphHolder.children[1].children[0].getContext('2d'), chartName[i], chartLabel[i], chartDataSet[i], '#094480', '#a4b5c7');
            }
            
            
            
            
            {% comment %} let ctx1 = document.getElementById('chart1').getContext('2d');
            let ctx2 = document.getElementById('chart2').getContext('2d');
            let ctx3 = document.getElementById('chart3').getContext('2d');
            let ctx4 = document.getElementById('chart4').getContext('2d');

            lineChart(ctx1, 'Sample Dataset 1', ['January', 'February', 'March', 'April', 'May', 'June', 'July'], [2, 10, 5, 3, 20, 30, 45], '#094480', '#d9e2ec');
            lineChart(ctx2, 'Sample Dataset 2', ['January', 'February', 'March', 'April', 'May', 'June', 'July'], [8, 5, 8, 9, 13, 11, 12], '#962323', '#f0cdcd');
            lineChart(ctx3, 'Sample Dataset 1', ['January', 'February', 'March', 'April', 'May', 'June', 'July'], [2, 10, 5, 3, 20, 30, 45], '#094480', '#d9e2ec');
            lineChart(ctx4, 'Sample Dataset 2', ['January', 'February', 'March', 'April', 'May', 'June', 'July'], [8, 5, 8, 9, 13, 11, 12], '#962323', '#f0cdcd'); {% endcomment %}
        </script>
    </div>
    <div class="flex-container blockwise">
        <div class="box-section">
            <div class="box-section-head">PLO Achievement Table</div>
            <div class="box-section-body">
                {% comment %} <p>The following is a sample placeholder table for the template.</p> {% endcomment %}
                <div class="table-responsive marg-bottom marg-top">
                    <table class="table table-bordered table-striped table-sm" style="text-align: center;">
                        <thead>
                            <tr>
                                <th>COURSE</th>
                                <th>PLO01</th>
                                <th>PLO02</th>
                                <th>PLO03</th>
                                <th>PLO04</th>
                                <th>PLO05</th>
                                <th>PLO06</th>
                                <th>PLO07</th>
                                <th>PLO08</th>
                                <th>PLO09</th>
                                <th>PLO10</th>
                                <th>PLO11</th>
                                <th>PLO12</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ploT in ploTable %}
                                <tr>
                                    {% for ploNT in ploT %}
                                        <td class="ploValues">{{ ploNT }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            <script>
                                let ploValues = document.querySelectorAll('td.ploValues');
                                for(let i = 0; i < ploValues.length; i++) {
                                    
                                    if (ploValues[i].textContent.slice(0, ploValues[i].textContent.length - 2) >= 40)
                                        ploValues[i].style = 'color: green;';
                                    if (ploValues[i].textContent.slice(0, ploValues[i].textContent.length - 2) < 40)
                                        ploValues[i].style = 'color: red;';
                                }
                            </script>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        highlightCurrentPage('dashboard');
    </script>
{% endblock %}