{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %} | SPM</title>
    <meta id="viewport" name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="{% static 'mainapp/style.css' %}" />
    <link rel="stylesheet" href="{% static 'mainapp/style-bt.css' %}" />
    <link rel="icon" type="image/png" href="{% static 'mainapp/images/iub_logo.jpg' %}" />
    <script src="{% static 'mainapp/script.js' %}"></script>
    <script src="{% static 'mainapp/node_modules/chart.js/dist/Chart.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/google-palette/1.1.0/palette.js"></script>
</head>

<body>
    <!-- Heading and Sidebar -->
    <nav class="heading">
        <ul class="heading-ul">
            <li class="heading-li heading-logo stay">
                <a class="heading-logo-li title" href="{% url 'dashboard' %}">
                    <img src="{% static 'mainapp/images/iub_logo.png' %}" height="50px" />
                </a>
            </li>
            <li class="heading-li stay">
                <a class="title" href="{% url 'dashboard' %}">
                    <span class="title-full-name">Student Performance Monitor</span>
                    <span class="title-short-name">SPM</span>
                </a>
            </li>
            <li>
                <div class="heading-dropdown">
                    <span class="heading-dropdown-icon">
                        <svg width="32px" height="32px" viewBox="0 0 16 16" class="bi bi-person-fill"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                        </svg>
                    </span>
                    <span class="heading-dropdown-text">{{ userfullname }} <br /><small>({{ usertype }})</small></span>
                </div>
            </li>
            <li class="stay" id="more-bar">
                <div class="more" onclick="toggle_more(); return false;"><span class="glyphicon glyphicon-nav"
                        aria-hidden="true"></span></div>
            </li>
        </ul>
    </nav>
    <nav class="sidebar-background"></nav>
    <nav class="sidebar">
        <div class="sidebar-holder">
            <ul>
                {% block sidebar %}{% endblock %}
            </ul>
        </div>
    </nav>

    <!-- Main Body -->
    <div class="body">
        <div class="main-content">
            {% block body %}{% endblock %}
        </div>
    </div>
</body>

</html>