{% extends "mainapp/studentlayout.html" %}
{% block title %}Dashboard{% endblock %}
{% block body %}
    <div class="flex-container gridwise">
        <div class="box-item blue">
            <span><b>PLO Achieved:</b><br />{{ a }}</span>
        </div>
        <div class="box-item red">
            <span><b>PLO Attempted:</b><br />{{ b }}</span>
        </div>
        <div class="box-item green">
            <span><b>Lowest PLO:</b><br />{{ c }}</span>
        </div>
        <div class="box-item orange">
            <span><b>Success Rate:</b><br />{{ d }}</span>
        </div>
    </div>
    <div id="inner-section" class="gridwise-container blockwise">
        <script>
            let numberOfGraphs = {{ numberOfGraphs }};
            let graphContainer = document.querySelector('#inner-section');
            {% comment %} let graphHolderList = []; {% endcomment %}
            
            chartName = [{% for chartN in chartName %} '{{ chartN }}', {% endfor %}];
            chartLabel = [{% for chartL in chartLabel %}[ {% for chartT in chartL %} '{{ chartT }}', {% endfor %}], {% endfor %}];
            chartDataSet = [{% for chartD in chartDataSet %} {{ chartD }}, {% endfor %}];
            
            for (let i = 0; i < numberOfGraphs; i++) {
                let graphHolder = document.createElement('div');
                graphHolder.className = 'box';
                graphHolder.innerHTML = `
                    <div class="box-section-head negative-margin">${chartName[i]}</div>
                    <div class="chart">
                        <canvas id="chart${i}" width="300" height="200"></canvas>
                    </div>
                `;
                graphContainer.appendChild(graphHolder);
                {% comment %} let graphHolders = document.getElementById('chart1').getContext('2d'); {% endcomment %}
                barChart(graphHolder.children[1].children[0].getContext('2d'), chartName[i], chartLabel[i], chartDataSet[i], '#094480', '#a4b5c7');
            }
            
            
            
            
            
        
            
            {% comment %} let ctx1 = document.getElementById('chart1').getContext('2d');
            let ctx2 = document.getElementById('chart2').getContext('2d');
            let ctx3 = document.getElementById('chart3').getContext('2d');
            let ctx4 = document.getElementById('chart4').getContext('2d');

            lineChart(ctx1, 'Sample Dataset 1', ['January', 'February', 'March', 'April', 'May', 'June', 'July'], [2, 10, 5, 3, 20, 30, 45], '#094480', '#d9e2ec');
            lineChart(ctx2, 'Sample Dataset 2', ['January', 'February', 'March', 'April', 'May', 'June', 'July'], [8, 5, 8, 9, 13, 11, 12], '#962323', '#f0cdcd');
            lineChart(ctx3, 'Sample Dataset 1', ['January', 'February', 'March', 'April', 'May', 'June', 'July'], [2, 10, 5, 3, 20, 30, 45], '#094480', '#d9e2ec');
            lineChart(ctx4, 'Sample Dataset 2', ['January', 'February', 'March', 'April', 'May', 'June', 'July'], [8, 5, 8, 9, 13, 11, 12], '#962323', '#f0cdcd'); {% endcomment %}
        </script>
    </div>
    
    <div id="testID2" class="flex-container blockwise">
        <script>
            graphContainer = document.querySelector('#testID2');
            // getStudentProgressView
            graphHolder = document.createElement('div');
            let semester = [{% for i in semester %} '{{ i }}', {% endfor %}];
            let semesterActual = {{ semesterActual }};
            let semesterAttempted = {{ semesterAttempted }};
            graphHolder.className = 'box';
            graphHolder.innerHTML = `
                <div class="box-section-head negative-margin">{{ studentProgressView }}</div>
                <div class="chart" style="width: 80%;">
                    <canvas id="chartSemester" width="300" height="180"></canvas>
                </div>
            `;
            graphContainer.appendChild(graphHolder);
            chartObjects = [{
                label: 'Actual',
                backgroundColor: '#d9e2ec',
                borderColor: '#094480',
                data: semesterActual
            }, {
                label: 'Expected',
                backgroundColor: '#f0cdcd',
                borderColor: '#962323',
                data: semesterAttempted
            }];
            {% comment %} let graphHolders = document.getElementById('chart1').getContext('2d'); {% endcomment %}
            lineChartObject(graphHolder.children[1].children[0].getContext('2d'), semester, chartObjects);
            
        </script>
    </div>
    
    
    <div id="testID" class="flex-container blockwise">
        
        <script>
            
            graphContainer = document.querySelector('#testID');
            plo = [{% for i in plo %} '{{ i }}', {% endfor %}];
            courses = [{% for i in courses %} '{{ i }}', {% endfor %}];
            table = {{ table }};
            let graphHolder = document.createElement('div');
            graphHolder.className = 'box';
            graphHolder.innerHTML = `
                <div class="box-section-head negative-margin">{{ ploWiseChartName }}</div>
                <div class="chart marg-top">
                    <canvas id="chartPLO" style="width: 100%; height: 90%;" width="1000" height="500"></canvas>
                </div>
            `;
            graphContainer.appendChild(graphHolder);
            datasetlist = []
            {% comment %} colors = ['#22aa99', '#994499', '#316395', '#b82e2e', '#66aa00', '#dd4477'] {% endcomment %}
            colors = palette('tol', courses.length).map(function(hex) {
                return '#' + hex;
            });
            for (let i = 0; i < courses.length; i++) {
                datasetlist.push({
                    label: courses[i],
                    data: table[i],
                    backgroundColor: colors[i]
                    {% comment %} backgroundColor: colors[i] {% endcomment %}
                });
            }
            
            stackedChart(graphHolder.children[1].children[0].getContext('2d'), plo, datasetlist, true);
        </script>
    
    
    
    
    
    <script>
        highlightCurrentPage('dashboard');
    </script>
{% endblock %}