@font-face {
    font-family: Oxygen;
    src: url(Oxygen-Regular.ttf);
}

@font-face {
    font-family: Oxygen;
    src: url(Oxygen-Bold.ttf);
    font-weight: bold;
}

* {
    font-family: 'Oxygen', sans-serif;
    box-sizing: border-box;
}

html,
body {
    margin: 0px;
    width: 100%;
    height: 100%;
}


/* Heading */

nav.heading {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.06);
    border-bottom: 1px solid #dee4e9;
}

ul.heading-ul {
    margin: 0px;
    padding: 0px;
    width: 100%;
    min-height: 58px;
    float: left;
    list-style-type: none;
    background-image: url('background.gif');
}

ul.heading-ul a:not(.heading-logo-li) {
    display: block;
    padding: 19px;
    color: black;
    text-decoration: none;
    font-size: 16px;
}

ul.heading-ul a:hover:not(.title) {
    background-color: #cccccf;
    color: black;
}

li.heading-li {
    float: left;
}

li.heading-li a:not(.heading-logo-li) {
    padding: 16px;
    color: black;
    font-size: 20px;
}

div.more {
    padding: 19px;
    color: black;
    cursor: pointer;
}

div.more:hover {
    background-color: #cccccf;
}

div.more:focus {
    background-color: #a7a7aa;
}

div.more:active {
    background-color: #a7a7aa;
}

ul.heading-ul li:not(.heading-li) {
    float: right;
}

li.heading-logo {
    padding-top: 4px;
    padding-left: 15px;
    padding-bottom: 0px;
    margin: 0px
}

.heading-dropdown {
    display: block;
    float: left;
    height: 59px;
    padding: 0px;
    color: black;
    text-decoration: none;
    font-size: 16px;
}

.heading-dropdown:hover {
    background-color: #cccccf;
    color: black;
}

.heading-dropdown-icon {
    display: block;
    float: left;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 5px;
}

.heading-dropdown-text {
    display: block;
    float: left;
    padding-top: 19px;
    padding-right: 20px;
    color: black;
    text-decoration: none;
    font-size: 16px;
}


/* Three dashed bars */

.glyphicon-nav {
    width: 25px;
    padding: 8px 0;
    position: relative;
    display: inline-block;
}

.glyphicon-nav:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    border-top: 2px solid rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
    top: 0px;
}

.glyphicon-nav:after {
    content: '';
    position: absolute;
    top: 55%;
    left: 0px;
    height: 2px;
    width: 100%;
    background: rgb(0, 0, 0);
}


/* Sidebar */

nav.sidebar {
    display: block;
    position: fixed;
    margin: 0px;
    margin-top: 60px;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 14px 0px 20px;
    width: 250px;
    overflow-y: auto;
    z-index: 5;
}

.sidebar-background {
    display: block;
    position: fixed;
    margin: 0px;
    margin-top: 0px;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 14px 0px 20px;
    width: 250px;
    background-color: #f8f9fa;
    border-right: 1px solid #dee4e9;
    overflow-y: auto;
    z-index: 3;
}

nav.sidebar ul {
    list-style-type: none;
    margin: 0px;
    margin-top: 2px;
    padding: 0px;
    float: left;
    width: 100%;
}

nav.sidebar li {
    margin: 0px;
    padding: 0px;
}

nav.sidebar a {
    display: block;
    float: left;
    padding-top: 10px;
    padding-left: 15px;
    width: 100%;
    color: black;
}

nav.sidebar a:hover {
    background-color: #dee4e9;
}

nav.sidebar a.current {
    background-color: #dee4e9;
    color: #003866;
}

.sidebar-logo {
    display: block;
    float: left;
    padding: 5px;
}

.sidebar-logo svg {
    width: 20px;
    height: 20px;
}

.sidebar-text {
    display: block;
    float: left;
    padding: 6px;
    padding-top: 5px;
    margin-bottom: 10px;
    font-size: 16px;
}


/* Main body */

.body {
    display: block;
    width: 100%;
    padding: 0px;
    padding-top: 59px;
    padding-left: 250px;
}

.main-content {
    margin: 10px;
}


/* Box Container */

.flex-container {
    display: flex;
    width: 100%;
}

.box-item {
    display: grid;
    margin: 5px;
    padding: 20px;
    flex: 1 1 0px;
    height: 200px;
    background-color: #eef0f1;
    font-size: 25px;
    border-radius: 6px;
    text-align: center;
    place-items: center;
    box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.12);
}

.blue {
    background-color: #d9e2ec;
    color: #094480;
}

.red {
    background-color: #f0cdcd;
    color: #962323;
}

.green {
    background-color: #d8e7d0;
    color: #178517;
}

.orange {
    background-color: rgb(250, 224, 175);
    color: rgb(148, 102, 17);
}

.black {
    background-color: rgb(207, 206, 212);
    color: rgb(32, 31, 36);
}

.white {
    background-color: rgb(229, 230, 233);
    color: black;
}

.box {
    margin: 5px;
    margin-bottom: 10px;
    padding: 20px;
    flex: 1 1 0px;
    border: 1px solid #dee4e9;
    border-radius: 6px;
    box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, .12);
}

.box-section {
    flex: 1 1 0px;
    margin: 5px;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 0px;
    border: 1px solid #dee4e9;
    border-radius: 6px;
    box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, .12);
    text-align: left;
}

.box-section-head {
    padding: 15px 30px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: rgba(70, 66, 66, 0.05);
    font-size: 20px;
    font-weight: bold;
}

.box-section-body {
    padding: 0px 30px;
    overflow: auto;
}

.marg-top {
    margin-top: 30px;
}

.marg-bottom {
    margin-bottom: 30px;
}

.chart {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}


/* Media Queries */

#more-bar {
    display: none;
}

.title-full-name {
    display: inline;
}

.title-short-name {
    display: none;
}

@media (max-width: 850px) {
    .heading li:not(.stay) {
        display: none;
    }
    #more-bar {
        display: block;
    }
    nav.sidebar {
        display: none;
        width: 100%;
    }
    .sidebar-background {
        display: none;
        width: 100%;
        border: none;
    }
    .body {
        padding-left: 0px;
    }
    .gridwise {
        display: grid;
        grid-template-columns: auto auto;
    }
    .blockwise {
        display: block;
    }
}

@media (max-width: 600px) {
    .title-full-name {
        display: none;
    }
    .title-short-name {
        display: inline;
    }
}

@media (max-width: 350px) {
    .gridwise {
        display: block;
    }
}


/* Scrollbar (not supported in Firefox) */

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #696c70;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #4a4f52;
}


/* Form */

.form-table {
    /* width: 100%; */
    margin-left: auto;
    margin-right: auto;
}

.form-table input,
.form-table label {
    margin-right: 10px;
}

.form-table td:not(.last-row) {
    padding-bottom: 12px;
}

.form-table tr>td {
    text-align: right;
    padding-left: 5px;
    padding-right: 5px;
}

@media (min-width: 518px) {
    .form-field {
        width: 280px;
    }
}
@media (max-width: 405px) {
    .form-table tr>td {
        text-align: left;
    }
}
/* @media (min-width: 850px) {
    .form-table tr>td {
        text-align: right;
    }
} */